[submodule "microservice-book"]
	path = microservice-book
	url = https://github.com/MASKUN2/quietchatter-microservice-book.git
[submodule "microservice-member"]
	path = microservice-member
	url = https://github.com/MASKUN2/quietchatter-microservice-member.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/MASKUN2/quietchatter-infrastructure.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MASKUN2/quietchatter-frontend
[submodule "microservice-api-gateway"]
        path = microservice-api-gateway
        url = https://github.com/MASKUN2/quietchatter-microservice-api-gateway
[submodule "microservice-talk"]
	path = microservice-talk
	url = https://github.com/MASKUN2/quietchatter-microservice-talk
[submodule "test-rust-api"]
	path = test-rust-api
	url = https://github.com/MASKUN2/test-rust-api.git
[submodule "test-python-api"]
	path = test-python-api
	url = https://github.com/MASKUN2/test-python-api.git
