[submodule "microservice-book"]
	path = microservice-book
	url = https://github.com/MASKUN2/quietchatter-microservice-book.git
[submodule "microservice-member"]
	path = microservice-member
	url = https://github.com/MASKUN2/quietchatter-microservice-member.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/MASKUN2/quietchatter-infrastructure.git
[submodule "legacy-quiet-chatter"]
	path = legacy-quiet-chatter
	url = https://github.com/MASKUN2/quiet-chatter
[submodule "legacy-quiet-chatter-front-end"]
	path = frontend
	url = https://github.com/MASKUN2/quiet-chatter-front-end
[submodule "legacy-quiet-chatter-batch"]
	path = legacy-quiet-chatter-batch
	url = https://github.com/MASKUN2/quiet-chatter-batch
[submodule "legacy-quiet-chatter-docs"]
	path = legacy-quiet-chatter-docs
	url = https://github.com/MASKUN2/quiet-chatter-docs
[submodule "microservice-api-gateway"]
        path = microservice-api-gateway
        url = https://github.com/MASKUN2/quietchatter-microservice-api-gateway
[submodule "microservice-talk"]
	path = microservice-talk
	url = https://github.com/MASKUN2/quietchatter-microservice-talk
